
html, body {
    margin: 0;
    padding: 0;
    background-color: #0B0B0B;
}

.desktop {
    background-color: #002B19;
    opacity: 1;
}

.desktop.loaded {
    opacity: 1;
}

.desktop .background-frame {
    background-color: #005532;
    width: 100%;
    max-width: 1200px;
    top: 9rem;
    margin: 0 auto;
    z-index: 2;
    box-sizing: border-box;
    position: relative;
}

.leftsidebar-container {
    opacity: 1;
}

.left-sidebar {
    opacity: 1;
    transform: translateY(0); /* Add this to counteract the -40px in globals.css (Note: Remove when not needed) */
}

.desktop .right-menu {
    opacity: 1;
}

.project-container-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.project-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 0rem 6rem;
    box-sizing: border-box;
}


.end-banner-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.header-image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    opacity: 1;
}

.text-container {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 3;

    background-color: #FFFFFF;
    padding: 1rem;
    padding-top: 65px;
    text-align: center;
    width: 242px;
    height: auto;
    box-sizing: border-box;
}

.title {
    font-family: 'Satoshi';
    font-weight: 700;
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 82px;
    transform: scaleY(1.5);
}

.bot-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    padding-bottom: 30px;
}

.sub-title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    text-decoration: underline;
    text-align: left;
}

.description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: left;
}

.date {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: left;
}

.objective-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 75px 122px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.obj-title {
    font-family: Instrument;
    font-size: 80px;
    color: #FFFFFF;
}

.divider {
    width: 100%;
    height: 8px;
    background-color: #ffffff;
    display: block;
}

.obj-des {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #ffffff;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 54px 122px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}

.header-frame {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    align-items: start;
}

.content-title {
    font-family: Instrument;
    font-size: 80px;
    color: #000000;
}

.divider-black {
    width: 100%;
    height: 8px;
    background-color: #000000;
    display: block;
}

.content-des {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #000000;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    /* Define the rows based on your requirements */
    grid-template-areas: 
        "img1 content-box1"
        "img1 content-box2"
        "img2 content-box3"
        "img3 content-box4";
    gap: 2rem;
    width: 100%;
    margin-top: 3rem;
}

.map-img1 { grid-area: img1; width: 100%; height: auto; }
.map-img2 { grid-area: img2; width: 100%; height: auto; }
.map-img3 { grid-area: img3; width: 100%; height: auto; }

.content-content-box1 { grid-area: content-box1; }
.content-content-box2 { grid-area: content-box2; }
.content-content-box3 { grid-area: content-box3; }
.content-content-box4 { grid-area: content-box4; }


.content-grid h4
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 800;
    text-decoration: underline;
    line-height: 1.6;
    color: #000000;
    margin: 0;
}

.content-grid p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    margin: 0;
}

.outcome-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 75px 122px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.outcome-title {
    font-family: Instrument;
    font-size: 80px;
    color: #FFFFFF;
}

.outcome-des {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #ffffff;
}